streamlit== 1.19.0
streamlit-faker
streamlit-extras
altair<5
setuptools
numpy
scipy
pandas
matplotlib
seaborn
plotly
patsy
statsmodels
rapidfuzz
pytest
bcrypt
pathlib
packages/pdpy-1.0.tar.gz